.bordered {
    border: 3px solid var(--border-hover-notch-color);
}

#current-player, #current-round {
    color: var(--highlight-color); 
}

.text-nowrapped {
    white-space: nowrap;
}

.moveable-ball { 
    position: fixed;
    width: 8vmin !important;
    z-index: 1;
}

.immovable-ball {
    pointer-events: none;
}
