.options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.options > div {
    padding: 5px;
    font-size: 20pt;
    background-color: #a5a5a5;
}

.slide-window-block-options:nth-child(3) > .options > div {
    font-size: 16pt;
}

#btn-submit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 8%;
    font-size: 30pt;
    background-color: #cccccc;
}