/* Окно настроек */

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.options input[type="radio"] + label {
    padding: 5px;
    font-size: 20pt;
}

.options input[type="radio"]:checked + label {
    background-color: #ffffff;
}

#theme label {
    font-size: 16pt;
}

#btn-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 8%;
    font-size: 30pt;
    background-color: #cccccc;
}

#btn-start:hover {
    background-color: #ffffff;
}